@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION BAR */
.nav-link {
    font-weight: 700;
    color: black ;
}
.text:hover{
    color: #333333 !important;
}
.text {
    color: #fea150 !important;
    font-family: 'Roboto Slab', serif;
    
}
.sm {
    color: rgb(248, 141, 0) !important;
}


/*HERO SECTION*/
/*ABOUT US */
/* RECIPE */
/*CONTACT */
/*FOOTER*/