@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION BAR */
.nav-link {
    font-weight: 700;
    color: black ;
}
.text:hover{
    color: #ffffff !important;
}
.text {
    color: #333333 !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    
}
.sm {
    color: #333333 !important;
}
.container a{
    background-position-x: 10px;
    background-position-y: 10px;
    font-size: 18px;
    line-height: 100%;
    line-height:10px ;

}

/*HERO SECTION*/
.heroSection{
    height: 650px;
}
.eclipse img{
    background-image: url("./assets/Ellipse 1.svg");
    margin-left: 3em;
    position: absolute;
    height: 1300px;
    width: 1300px;
    left: 400px;
    top: -500px;
    border-radius: 0px;

}
.food img{
    position: absolute;
    width: 282px;
    height: 277px;
    left: 1186px;
    top: 355px;
    border-radius: 12px;
}
.descLayout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 500px;
    height: 146px;
    left: 150px;
    top: 418px;

}
.desc{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 0px;
}
.desc h1{
    position: static;
    width: 347px;
    height: 46px;
    left: 0px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FEA150;

}
.desc h3{
    position: static;
    width: 449px;
    height: 46px;
    left: 0px;
    top: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    color: #333333;
}
.desc p{
    position: static;
    width: 319px;
    height: 42px;
    left: 0px;
    top: 104px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}
.shapeP{
    margin-top: 21%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 17.5%;
    object-fit: fill;
}
.shapeC{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}
.shapeP img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;

   
}
@media screen and (max-width: 1110px) {
    .shapeP{
        display: flex;
        align-items: flex-end;
    }
}
.about{
    height: 400px;
    margin-top: 8em;
}
.about h1{
    height: 36px;
    font-family: 'sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto Slab', serif;
    color: #333333;
    font-weight: 500;
}
.about p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #333333;
}
/*ABOUT US */

/* RECIPE */
/*CONTACT */
/*FOOTER*/